<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>dutasmsettings</string>
      <key>label</key>
      <string>TASM Cheats</string>
    </dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>id</key>
        <string>myCreditsSpecifier</string>
        <key>label</key>
        <string>The Amazing Spider-Man v1.0.3 Cheats</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>dutasmsettings</string>
        <key>key</key>
        <string>coinkey</string>
        <key>label</key>
        <string>Infinite Spider Coins</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>dutasmsettings</string>
        <key>key</key>
        <string>skillkey</string>
        <key>label</key>
        <string>Infinite Skill Points</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerText</key>
        <string>Respring to apply Cheats</string>
        <key>label</key>
        <string>Respring</string>
      </dict>
      <dict>
        <key>action</key>
        <string>respring</string>
        <key>cell</key>
        <string>PSButtonCell</string>
        <key>label</key>
        <string>Respring</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
      </dict>
      <dict>
        <key>action</key>
        <string>link</string>
        <key>cell</key>
        <string>PSButtonCell</string>
        <key>label</key>
        <string>Visit www.ioscheaters.com for more!</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerText</key>
        <string>Brought to you by AlphaGamers.</string>
      </dict>
    </array>
    <key>title</key>
    <string>TASM Cheats</string>
  </dict>
</plist>
